.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
}
.add-more-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add-more-button:hover {
  background-color: #45a049;
}

.recipe {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px 0;
}
.recipe h2 {
  margin-top: 0;
}
.recipe ul {
  list-style-type: none;
  padding: 0;
}
.recipe ul li {
  background: #f9f9f9;
  padding: 5px;
  margin: 5px 0;
}
.recipe p {
  background: #f0f0f0;
  padding: 10px;
}

.hidden {
  display: none;
}

.transparent-button {
  border: none;
  background: transparent;
}

.button-container {
  position: relative;
  display: inline-block;
  width: fit-content;
}
.hover-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.button-container:hover .hover-icon {
  display: block;
}

.add-icon {
  font-size: 200px !important;
  color: lightgray;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
